@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

//Font
$font-stack: 'Red Hat Text', sans-serif;

//Color
$--white-color: hsl(0, 0%, 100%);
$--red-soft-color: hsl(345, 95%, 68%);
$--blue-grayish-color: hsl(237, 18%, 59%);
$--blue-dark-desaturated-color: hsl(236, 21%, 26%);
$--blue-very-dark-color: hsl(235, 16%, 14%);
$--blue-very-dark-mostly-black-color: hsl(234, 17%, 12%);
