@import '_base.scss';

%number {
  display: flex;
  height: 100%;
  line-height: 0;
  justify-content: center;
  position: absolute;
  width: 100%;
}

%circle-bottom {
  background: radial-gradient(0.8rem circle at 0 100%, hsl(240, 11%, 9%) 50%, transparent 50.2%), radial-gradient(0.8rem circle at 100% 100%, hsl(240, 11%, 9%) 50%, transparent 50.2%);
}

%circle-top {
  background: radial-gradient(0.8rem circle at 0 0, hsl(240, 11%, 9%) 50%, transparent 50.2%), radial-gradient(0.8rem circle at 100% 0, hsl(240, 11%, 9%) 50%, transparent 50.2%);
}

%back-front {
  align-items: flex-end;
  border-radius: 10px 10px 0 0;
  background-color: #2c2c44;
  color: #d64e72;
  overflow: hidden;
}

%bottom-front {
  align-items: flex-start;
  background-color: $--blue-dark-desaturated-color;
  border-radius: 0 0 10px 10px;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  font: 100% $font-stack;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  min-height: 100vh;
  background: url('../images/bg-stars.svg') no-repeat center center, url('../images/pattern-hills.svg') no-repeat center bottom,
    linear-gradient(to bottom, $--blue-very-dark-mostly-black-color, #241c2b) no-repeat center center;
  background-size: contain;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-rows: repeat(3, auto);

  header {
    display: flex;
    align-items: center;
    h2 {
      color: $--white-color;
      text-transform: uppercase;
      letter-spacing: 0.6rem;
    }
  }

  section {
    display: flex;
    .countdown__parent {
      width: 9rem;
      height: 8rem;
      margin: 0 1.5rem;
      text-align: center;
      color: $--red-soft-color;
      font-size: 5rem;
      position: relative;

      &::before {
        content: '';
        background-color: hsl(240, 11%, 9%);
        border-radius: 10px;
        height: 100%;
        position: absolute;
        top: 6%;
        left: 0;
        width: 100%;
      }

      .time_unit {
        color: $--blue-grayish-color;
        text-transform: uppercase;
        letter-spacing: 0.4rem;
        font-size: 14px;
      }

      .countdown__top,
      .countdown__bottom {
        height: 50%;
        position: relative;
        width: 100%;
      }

      .countdown__top {
        &::before {
          @extend %number;
          @extend %circle-bottom;
          @extend %back-front;
          content: attr(data-back);
          z-index: 5;
        }

        & > div {
          width: 100%;
          overflow: hidden;
          position: relative;
          z-index: 10;

          &::before {
            @extend %number;
            @extend %circle-bottom;
            @extend %back-front;
            content: attr(data-back);
            transform: rotate(180deg) rotateY(180deg);
          }
        }
      }

      .countdown__bottom {
        &::before {
          @extend %number;
          @extend %circle-bottom;
          @extend %back-front;
          content: attr(data-front);
          backface-visibility: hidden;
          top: -100%;
          z-index: 20;
        }

        &::after {
          @extend %number;
          @extend %circle-top;
          @extend %bottom-front;
          content: attr(data-front);
          overflow: hidden;
        }
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        color: $--blue-grayish-color;
        padding: 0 1rem;
        font-size: 1.75rem;
        cursor: pointer;
      }
      li:hover {
        color: $--red-soft-color;
      }
    }
  }
}
